<% content_for :title do %>
Terassa cafe
<% end %>

<div class="container">

  <div class="starter-template">
 
    <div class="test about" >
      <h1>
        <span>Terassa</span>
      </h1>
      
      <div>
        <h2 class="h2">Možnosti na TERASSE</h2>
        <h3>Retro večer</h3>
        <p>Ať už si představujete jen malou rodinnou oslavu, nebo chcete pozvat všechny přátele, počítejte s námi. Po domluvě pro vás rádi připravíme tematickou oslavu v retro stylu, gurmánskou ochutnávku nebo koktejlový večírek. A pokud zrovna nechcete přijít s vlastní společností, sledujte pravidelně náš facebook nebo webové stránky. Pravidelně pořádáme tematické večery, na kterých vás rádi přivítáme. </p>
        <h3>Co bude dnes k večeři?</h3>
        <p>Také vám připadá, že vaříte stále dokola ty samé recepty? Přijďte si pro inspiraci k nám. Každý den máme něco nového a něco osvědčeného. Tradiční recepty s moderním šarmem, které vás jistě osloví. Vaříte pro děti a víte, co nejí? Zavolejte a večeři upravenou speciálně pro ně si vyzvedněte cestou z práce. Potěšte partnera teplou večeří bez času stráveného v kuchyni. Pohodový večer si u nás můžete vyzvednout v krabičce.</p>
        <h3>Kancelář na TERASSE</h3>
        <p>Přijďte k nám vyměnit vyčerpávající stereotyp vašeho pracovního prostředí za inspirativní pauzu s voňavou kávou. U nás ji podáváme vždy s úsměvem. Na TERASSE načerpáte novou inspiraci, která při home office často mizí v nedohlednu. Nebo jen preferujete čerstvý vzduch před hučící klimatizací a z blikajících žárovek už vás pálí oči? U nás jsou vítáni všichni umělci, žurnalisté, právníci, i soukromí učitelé. Přijďte k nám a poznáte skutečnou výhodu své volné pracovní doby.</p>
        <h3>To go</h3>
        <p>Nestíháte, ale přesto se nechcete vzdát zdravého domácího jídla a lahodné kávy? Nebo jen nemáte chuť trávit čas v restauraci a raději večeříte v pohodlí domova? I to je u nás možné. Veškeré jídlo i nápoje vám zabalíme, nalijeme do kelímku nebo zkrátka upravíme tak, abyste si je mohli vzít s sebou. Ať už jsme jen zastávkou na cestě do práce, nebo plánujete celodenní výlet. </p>
        <h3>Bussines prochází žaludkem</h3>
        <p>Máte důležité obchodní jednání, u kterého záleží na každém detailu? Ať už jste jen dva nebo vás přijde víc, u nás nic není problém. V příjemné neformální atmosféře snadno najdete společnou řeč. Samozřejmostí je připojení Wi-Fi. Stihnout dvě věci najednou už dávno není nemožné. Obchodní schůzka a dobré jídlo tak bez problémů splynou v jeden příjemný zážitek.</p>
            <p>Zavřeli Vám v bance před nosem? Nebo máte po polední pauze ještě spoustu práce  a potřebujete doplnit energii? Zajděte k nám zapomenout na každodenní starosti, nebo na chvilku vypnout a vychutnat si šálek pohody ve všedním dni. Milá obsluha Vám každopádně zvedne náladu a dobré jídlo zase hladinu endorfinů. Jednoduše, s chvilkou u nás může být i pracovní den zábava. </p>
        <h3>Následník vychovaných rodičů je u nás milý host</h3>
    <p>Děti máme rádi, a proto jsme pro ně připravili i nějakou tu zábavu navíc. Vítáme u nás všechny maminky na mateřské dovolené, hlídací babičky i tatínky a jejich princezny. Nevyžadujeme absolutní klid, ale věříme, že kultivované prostředí TERASSY se stane vhodným místem k vysvětlení pojmů gentleman a malá dáma.</p>
        <h3>Na co máte chuť?</h3>
        <p>Vzpomínáte na chutě svého dětství, nebo plánujete rodinnou oslavu a přemýšlíte o občerstvení? Pro nás není problém uvařit téměř cokoli. Ať už zatoužíte po bramborových šiškách, plném hrnci guláše, tácech s jednohubkami nebo obložených mísách. Stačí zavolat nebo se stavit na kus řeči.</p>
        <h3>Snídaně do postele</h3>
        <p>Chcete překvapit někoho blízkého, potěšit nadřízené nebo si zkrátka jen zpříjemnit nedělní ráno? Zavolejte, a za chvilku může být teplá snídaně u vás. A samozřejmě nejenom snídaně. Od svačiny po večeři vám dovezeme jakékoli jídlo domů nebo do práce, pro vás a všechny, kdo nemají čas nebo chuť k nám zaskočit. Dobře se najíst už nemůže být snadnější. </p>
      </div>
      
     <h2 class="logo_down">
          <span><span></span></span>
      </h2>
      
	   
    
    
    
  </div>
</div>
