<% content_for :title do %>
About
<% end %>

<div class="container">

  <div class="starter-template">
 
    <div class="test about" >
      <h1>
        <span>Terassa</span>
      </h1>
      
      <div>
        <h3>pro naše hosty vaříme stejně jako pro naše děti</h3>
        <p>V kultivovaném  interiéru rodinného bistra pro Vás po celý den připravujeme sezonní jídla z čerstvých surovin od místních dodavatelů, originální zákusky, domácí pečivo, bio nápoje, sicilskou kávu a kvalitní vína od moravských vinařů.</p>
        <p>TERASSA café bistro ctí pravý obsah slova BISTRO. Bistro není bufet ale  denní bar na pomezí mezi kavárnou a restaurací s obsluhou a žádný fast food.</p>
        <p>I Na TERASSE se nachází bar, u kterého můžete postát, popít, poklábosit a vzít si z pultu něco dobrého s sebou i na potom.  V rozverném nekonvenčním prostředí snídáme, obědváme i večeříme. bestsellery z denních menu se stávají součástí stálé nabídky.</p>
        <p>V našem bistru se fantazii meze nekladou. Jídelní lístek u nás není dogma.</p>
        <p>Přijďte si k nám popovídat.</p>
        <h3>Protože u nás platí, že "JÍDLO SBLIŽUJE"</h3>
        <p>Vaříme tradiční jednoduchou kuchyni od buřtguláše po svíčkovou  z čerstvých surovin pokud  možno od českých a místních dodavatelů a vše servírujeme bez okázalostí ale s úctou. Oprášili jsme pro vás receptáře našich babiček, všechno důkladně vyzkoušeli a některé recepty vylepšili. </p>
        <h3>Na TERASSE kvalita a nikoli kvantita</h3>
      </div>
      
     <h2 class="logo_down">
          <span><span></span></span>
      </h2>
      
	   
    
    
    
  </div>
</div>
