<% content_for :title do %>Úvod<% end %>

<div class="container">

  <div class="starter-template">
     
        
        
    <div class="details">
      <div class="outerCircle">
        <div class="circle"> 
          <h1>Protože  „jídlo sbližuje“</h1>
        </div>
      
        <div class="circle2">
        
    
          <span class="heading">TERASSA café</span>
         
          <p>Dávno už není zvykem běhat jen mezi domovem a prací, správné je vychutnat si každou minutu.</p>
          <p>A proto jsme tady my, bistro s francouzským šarmem a domácími ingrediencemi. Stavte se u nás na tradiční poctivé jídlo v moderním kabátě nebo ochutnejte jednu z našich lehkých delikates. A to není všechno. Připravujeme pro vás čerstvé domácí limonády, voňavou kávu i zákusky pro mlsné jazýčky. Vínem od pečlivě vybraných tuzemských vinařů si u nás zpříjemníte večer a ráno vás přiláká vůně teplé snídaně. To vše v příjemném, nekonvenčním a nekuřáckém prostředí, kde JÍDLO SBLIŽUJE.</p>		
          <a href="/pages/about" class="button">více...</a>
        </div>
      </div>
    </div>

  </div>
</div>