<div class="container">

  <div class="starter-template">
     
        
        
    <div class="details">
      <div class="outerCircle">
        <div class="circle"> 
          <h1>Protože  „jídlo sbližuje“</h1>
        </div>
      
        <div class="circle2">
        
    
          <span class="heading">TERASSA café</span>
         
          <p>TERASSA café bistro ctí pravý obsah slova BISTRO. Bistro není bufet plný smaženého jídla, majonézových chlebíčků a opečených klobás. Bistro(t) je denní bar na pomezí mezi kavárnou a restaurací s obsluhou, tedy žádný fast food.
</p>		
          <a href="/pages/about" class="button">více...</a>
        </div>
      </div>
    </div>

  </div>
</div>