<% content_for :title do %>Kontakt<% end %>

<div class="container">

  <div class="starter-template">
   
    <div class="test menu" >
      <h1>
        <span>MENU</span>
      </h1>
      
      <section>
        <section class="col-xs-12 col-sm-12 ta-c">
          <p>Prohlédněte si naší stálou nabídku na nápojovém a jídelním lístku.</p>
          <section>
          <section class="menu_in">
            <%= link_to (image_tag "icon_napojovy_listek@2x.png", width:"50"), "/test.pdf" %>
            <%= link_to (image_tag "icon_jidelni_listek@2x.png", width:"50"),"/test.pdf" %>
          </section>
        </section>
          <p>
            Protože na Terasse vaříme z nejčerstvějších surovin a několikrát denně vás překvapíme čerstvými nápady z naší kuchyně, sledujte aktuální nabídku na <%= link_to "facebooku", "https://www.facebook.com/terassacafebistro"%>. A i tak vždy na Terasse najdete ještě něco navíc.
            
          </p>
        </section>
      </section>

      
      
      
      <h2 class="logo_down"><span><span></span></span></h2>
    </div>
  </div>
</div>
