<div class="container">

  <div class="starter-template">
    
    <div class="row">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo23.jpg" class="thumbnail group1" title="TÉRA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo23.jpg" alt="TÉRA">
          </a>
        </div>

        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo22.jpg" class="thumbnail group1" title="TEREZA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo22.jpg" alt="TEREZA">
          </a>
        </div>
      
        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo21.jpg" class="thumbnail group1" title="TEREZA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo21.jpg" alt="TEREZA">
          </a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo4.jpg" class="thumbnail group1" title="TÉRA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo4.jpg" alt="TÉRA">
          </a>
        </div>

        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo5.jpg" class="thumbnail group1" title="TEREZA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo5.jpg" alt="TEREZA">
          </a>
        </div>
      
        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo6.jpg" class="thumbnail group1" title="TEREZA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo6.jpg" alt="TEREZA">
          </a>
        </div>
        
      </div> 
      
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo1.jpg" class="thumbnail group1" title="TÉRA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo1.jpg" alt="TÉRA">
          </a>
        </div>

        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo2.jpg" class="thumbnail group1" title="TEREZA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo2.jpg" alt="TEREZA">
          </a>
        </div>
      
        <div class="col-sm-6 col-md-4">
          <a href="http://www.luciekepplova.cz/photos/photo3.jpg" class="thumbnail group1" title="TEREZA" >
            <img src="http://www.luciekepplova.cz/photos/nahled/photo3.jpg" alt="TEREZA">
          </a>
        </div>
        
      </div>
    </div>
  </div>

</div>
