#footer > div{
  padding:20px 0;
  border-top:1px solid rgba(255,255,255,0.2);
  text-align:center;
  color:rgba(255,255,255,0.5);
  font-weight:normal;
  font-size:10px;
  font-family: 'Open Sans', sans-serif;
  a{color:rgba(255,255,255,0.5);}
  a:hover, a:focus{
    color:rgba(255,255,255,1);
  }
  span{
    padding:0 10px; 
    a{ font-size:12px; color:#fff;}
       
    a:hover, a:focus{
      color:rgba(255,255,255,0.5);
    }
  }
}