// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

  html { 
    background-color:rgba(34, 34, 34, 0.5) !important;
    background: image-url('bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .navbar-inverse, main, body,.nav > li > a:hover, .nav > li > a:focus {
      background-color: transparent;
  }
  .navbar-inverse .navbar-nav > li > a{
    color:#fff;
  }

  html, body {
         height: 100%;
   }
   .test{//, .container > .starter-template > .row{
     margin-top:100px;
   }
   body > main{
     min-height: 85%;
     height: auto !important;
     height: 100%;
     margin: 0px 0px -41px 0px;
   }
   footer{
     height:41px;
   }
   
   
   
  .starter-template {
    padding: 0px 15px;
    text-align: center;
    color:#fff;
  }
  
  
 section {
    padding:0 10px;
    margin:0;
    margin-top:25px;
    margin-bottom:25px;
  
    text-align:left;
    font-size:15px;
  
  
  
    h3{
      font-size:28px;
      margin-bottom:0;
    }
    p{
      font-family:Arial;
      margin-top:0;
    }
    a,a:hover,a:focus{
      color:#fff;
      text-decoration:underline;
    }
  }
