@import "krutysoubor";



$circle: 500px;


.detail{
  
  width: $circle;
  height: $circle;
  
}

.outerCircle {
  border:1px solid rgba(0,0,0,0.3);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in);

  @include border-radius($circle/2);
  
  position: relative;
  margin:0 auto;
  margin-top:80px;
  width: $circle;
  height: $circle;
  &:hover{

    .circle {
      background-color: rgba(255,255,255, 0.7);		 
    
      @include opacity(0.25);
    }
    .circle2 {
      @include opacity(1);
      @include transition-duration(300ms);
      @include transition-timing-function(ease-out);
    }
    @include transform-scale(1.05);
    @include transition-duration(300ms);
    @include transition-timing-function(ease-out);
  }
}
.circle,.circle2 {
    font-family:'bebas_neueregular';
    display: block;
    width: $circle;
    height: $circle;
  }
  .circle{
    
    @include border-radius($circle/2);
    
    //position: absolute;
    background-color:rgba(255,255,255, 0.1);
    background-image: image-url('logo_x2.png');
    background-position:50% 44%;
    background-repeat:no-repeat;    
    background-size: $circle*0.8;
    padding-top:280px;
    color:#fff;
    h1{font-size:24px;
    font-weight:normal;
    }
    letter-spacing: 1px;


    
  }
  .circle2{
    opacity: 0;
    position:absolute;
    width: 100%;
    margin-top: -300px;

    .heading{
      font-size:30px;
    }
    p{
      font-family:Arial;
      padding:0 50px;
    }

  }