<%# add navigation links to this file %>

<li><%= link_to 'aktuálně'.html_safe, page_path('about') %></li>
<li><%= link_to 'galerie', page_path('photos') %></li>
<li><%= link_to 'kontakt', page_path('contact') %></li>
